<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <nav>
        <div class="left_nav"><h1>Header</h1></div>
        <div class="right_nav">
          <ul>
            <li><a href="">Home</a></li>
            <li><a href="">About us</a></li>
            <li><a href="">Contact Us</a></li>
            <li><a href="">Portfolio</a></li>
            <li><a href="">Pages</a></li>
            <li><a href="">Gallery</a></li>
          </ul>
        </div>
        <div class="seacrh_nav">
          <div class="sear_input">
            <input type="text" />
            <button>Search</button>
          </div>
        </div>
      </nav>
    </header>
  </body>
</html>
